
.skills-container{
    position: relative;
}

@media (min-width:768px) {
    .skills-container::after,
.skills-container::before{
  content: "";
  width: 16rem;
  height: 16rem;
  border-radius: 28.125rem;
  background: #7c66e3;
  position: absolute;
  z-index: -1;
  filter:blur(200px);
}

.skills-container::after{
  top:15rem;
  left:5rem;
}
.skills-container::before{
   background: #9e51b9;
   top:15rem;
  right: 10rem;
}
}

@media (max-width:768px) {
    .skills-container::after,
.skills-container::before{
  content: "";
  width: 18rem;
  height: 18rem;
  border-radius: 28.125rem;
  background: #7c66e3;
  position: absolute;
  z-index: -1;
  filter:blur(200px);
}

.skills-container::after{
  top:15rem;
  left:-5rem;
}
.skills-container::before{
   background: #9e51b9;
   top:15rem;
  right: 0rem;
}
}
